/* app css stylesheet */

/* for ui-map */
.map-canvas { height: 800px; }

/* for ui-bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* get rid of them pesky brackets while app is loading */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}